// Save Energy theme
// https://color.adobe.com/Save-Energy-color-theme-210448/

$color--white: #fff;

$color--light-blue: #bbe2f2;

$color--green-0: #062601;
$color--green-1: #0f4001;


html {
  box-sizing: border-box;
}

body {
  background: #deffff url('../img/sky.jpg') no-repeat scroll top center;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: $color--green-0;
}


.main {
  min-height: 100vh;
}


header {
  color: $color--green-0;

h1 {
  font-family: 'Patrick Hand', cursive;
  font-size: 3em;
  font-weight: bold;
}

  input {
    width: 100%;
    border: 1px solid $color--green-0;
  }
}

article {

  h1,
  h2,
  h3 {
    font-weight: 500;
  }
}

footer {
  font-weight: 300;
  background-color: $color--green-1;

  * {
    color: $color--white;
  }
}


.search-result {

  a {
    min-height: 20em;
    text-decoration: none;
    background-image: url('../img/recycle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: $color--green-0;

    &:hover span,
    &:focus span {
      text-decoration: underline;
    }
  }

  span {
    display: block;
    background-color: $color--green-0;
    color: $color--white;
    font-weight: bold;
  }


}
